body{
    height: 100vh;
}
.row{
    height: 100px;
}
.first{
    height: 50px;
}
.second{
    height: 50px;
}
.third{
    height: 50px;
}
.four{
    height: 50px;
}
.five{
    height: 50px;
}
.six{   
    height: 50px;
}